# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.TapHeadingAndroid.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Workspace\Git\tap-heading-unity\tap-heading-unity\TapHeadingAndroid\.idea\.idea.TapHeadingAndroid\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
